<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
  <script src="https://code.angularjs.org/1.3.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<script src="scripts/jquery.timeago.js"></script>
  <script src="scripts/idle.js"></script>
  <script src="scripts/app2.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/cover.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body ng-app="presence" ng-controller="LobbyCtrl">
 <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Presence Test</h3>
          <nav>
            <ul class="nav masthead-nav">
<!--                   <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li> -->
                </ul>
              </nav>
            </div>
          </div>


          <div class="inner cover">

            <div class="row">
		
              <div ng-repeat="(key,val) in data" class="alert alert-info" > 
                <b>User: </b> {{ key }} <b> </b> 
		
                <ul class="list-group">
                  <li ng-repeat="(key,val) in val" class="list-group-item {{val.ended | statusClass}}">Out: {{val.ended | timeAgo}} - In: {{val.began | date:'dd HH:mm'}}</li>
		
                </ul>
              </div>
            </div>
<!--             <div id="presenceDiv" class="l-demo-container example-base">
</div> -->

</div>

<div class="mastfoot">
  <div class="inner">
    <!-- <p>Footer</p> -->
  </div>
</div>

</div>

</div>

</div>


<script>

</script>
</body>
</html>
